<%= render 'shared/beamerinformation' %>
    
<div class="row">
  <div id="beamer_title"></div>
  <div id="beamer_header"></div>
  <div id="beamer_result"></div>
  <div id="beamer_winner"></div>
</div>
    
    
