    <div class="panel panel-default">
      <div class="panel-body">
          <%= link_to @station do %>
      <div class="btn user_answer_btn" style="width: 100%;"><h4><i class="fa fa-undo" aria-hidden="true"></i></h4>Zurück</div>
      <% end %>
      </div>
    </div>