<% provide(:title, @station.name) %>
<div class="row">
  <div class="col-xs-12">
    
    
    
    <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
          <%= link_to :controller => "stations", :action => "set_station_status", :id => @station.id, :status => '<i class="fa fa-times" aria-hidden="true"></i>' do %>
      <div class="btn user_answer_btn" style="width: 100%;"><h4><i class="fa fa-times" aria-hidden="true"></i></h4>Zu</div>
      <% end %>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-body">
          <%= link_to :controller => "stations", :action => "set_station_status", :id => @station.id, :status => '<i class="fa fa-coffee" aria-hidden="true"></i>' do %>
      <div class="btn user_answer_btn" style="width: 100%;"><h4><i class="fa fa-coffee" aria-hidden="true"></i></h4>Pause</div>
      <% end %>
      </div>
    </div>
  
    </div>
    <div class="col-xs-6">
  
  <div class="panel panel-default">
      <div class="panel-body">
          <%= link_to :controller => "stations", :action => "set_station_status", :id => @station.id, :status => '<i class="fa fa-flag" aria-hidden="true"></i>' do %>
      <div class="btn user_answer_btn" style="width: 100%;"><h4><i class="fa fa-flag" aria-hidden="true"></i></h4>Offen</div>
      <% end %>
      </div>
    </div>
    
    </div>
    
    <%= render "back_panel" %>
    
    
    
    
    
  </div>
  
</div>