    <div class="panel panel-default">
      <div class="panel-body">
          <%= link_to :controller => "rallies", :action => "new" do %>
      <div class="btn user_answer_btn" style="width: 100%;"><h4><i class="fa fa-plus-square" aria-hidden="true"></i></h4>Neue Rally</div>
      <% end %>
      </div>
    </div>